<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>loginViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7322D2801EF0BE83002601D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7322D2991EF0BE83002601D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7322D2A41EF0BE83002601D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
